body{
    margin: 0%;
    padding: 0%;
    background-color:brown;
   
}

.container{
    width: 100%;
    background-color: blue;
    height: 400px;
    display: flex;
 
}
.r1{
    background-color: yellow;
    flex-grow: 1;
   
}
.r2{
    background-color: blueviolet;
    flex-grow: 1;
    order: -1;
}
.react{
    
    height: 100px;
}
